

section.new_chapitre {
	margin-top: 3rem;
	margin-bottom: 3rem;
}


section.new_chapitre h2{
	text-align: center;
	padding-top: 1rem;
	font-size: 3rem;
}

section.new_chapitre a {
	margin-left: 7rem;
}

section.form_newChapitre {
	padding: 60px;
}


section.form_newChapitre .form-group {
	margin-top: 10px;
}

section.form_newChapitre #resume {
	height: 5rem;
}

section.form_newChapitre .control-label {
	margin-bottom: 0.3rem; 
}

section.form_newChapitre #contenu {
	margin-top: 6rem;
	height: 35rem;
}


.button_chapitre {
	margin-left: 0;
	margin-top: 2rem;
}

	@media screen and (max-width: 768px) {

		section.new_chapitre h2 {
			font-size: 2rem;
		}

		section.new_chapitre a {
			margin-left: 5px;
		}

		section.form_newChapitre {
			padding: 5px;
		}

	}

