

<!-- Header -->
<header id="header" class="alt">
	<!-- <span class="logo"><img src="images/logo.svg" alt="" /></span> -->
	<h1>Billet simple pour l'Alaska</h1>
	<p>Un roman de Jean Forteroche.</p>
</header>

<!-- Nav -->
<nav id="nav">
	<ul>
		<li><a href="#intro" class="active">Préface</a></li>
		<li><a href="#first">Chapitres</a></li>
	</ul>
</nav>

<!-- Main -->
<div id="main">

	<!-- Introduction -->
		<section id="intro" class="main">
			<div class="spotlight">
				<div class="content">
					<header class="major">
						<h2>Préface</h2>
					</header>
					<p>Sed lorem ipsum dolor sit amet nullam consequat feugiat consequat magna
					adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus.
					Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.</p>
				
				</div>
				<span class="image"><img src="{{ path }}/images/alaska_ocean_and_snow_mountains.jpg" alt="" /></span>
			</div>
		</section>

	<!-- First Section -->
		<section id="first" class="main special">
			<header class="major">
				<h2>Chapitres</h2>
			</header>
			
				{{ partialListeChapitre }}

		</section>
</div>

<!-- Footer -->
					
					{{ partialFooter }}
