
<div id="main" class="main_newChapitre">
    <section class = "new_chapitre">

        <h2>Ajouter un chapitre</h2>

        <a href="{{ path }}/admin/">Retour à la liste des chapitres</a>

        <section class="form_newChapitre">
            <form  method="POST">
                <div class="form-group">
                    <label for="titre" class="control-label">Titre</label>
                    <input type="text" name="titre" class="form-control" id="titre" placeholder="Titre">
                </div>
                <div class="form-group">
                    <label for="resume" class="control-label">Résumé</label>
                    <textarea name="resume" class="form-control" maxlength="255" id="resume" placeholder="Résumé (max : 255 carac)"></textarea> 
                </div>
                <div class="form-group">
                    <label for="slug" class="control-label">Slug</label>
                    <script type="text/javascript">
                        function generateSlug(title,target){
                            const slug = title.toLowerCase()
                                .replace(/\s+/g, '-')           // Replace spaces with -
                                .replace(/[àáâãäå]/g,"a")
                                .replace(/æ/g,"ae")
                                .replace(/ç/g,"c")
                                .replace(/[èéêë]/g,"e")
                                .replace(/[ìíîï]/g,"i")
                                .replace(/ñ/g,"n")                
                                .replace(/[òóôõö]/g,"o")
                                .replace(/œ/g,"oe")
                                .replace(/[ùúûü]/g,"u")
                                .replace(/[ýÿ]/g,"y")
                                .replace(/['’]/g,"-")
                                .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
                                .replace(/\-\-+/g, '-')         // Replace multiple - with single -
                                .replace(/^-+/, '')             // Trim - from start of text
                                .replace(/-+$/, '')            // Trim - from end of text
                            target.value = slug;
                        }
                    </script>
                    <slugify onclick="event.stopPropagation();generateSlug(document.getElementById('titre').value, document.getElementById('slug'))"><button>Générer le slug</button></slugify>
                    <textarea name="slug" class="form-control" maxlength="255" id="slug" placeholder="Slug"></textarea> 
                </div>
                <div class="form-group">
                    <label for="contenue" class="control-label"></label>
                    <textarea name="contenu" class="contenu" id="contenu" placeholder=""></textarea> 
                </div>
                <input class="button_chapitre" type="submit" name="Ajouter_chapitre" value="Publié" class="btn btn-primary">
            </form>
        </section>
    </section>
</div>