
<div id="main" class="main_newChapitre">
    <section class = "new_chapitre">

        <h2>Ajouter un chapitre</h2>

        <a href="{{ path }}/admin/">Retour à la liste des chapitres</a>

        <section class="form_newChapitre">
            <form  method="POST">
                <div class="form-group">
                    <label for="titre" class="control-label">Titre</label>
                    <input type="text" name="titre" class="form-control" id="titre" placeholder="Titre">
                </div>
                <div class="form-group">
                    <label for="resume" class="control-label">Résumé</label>
                    <textarea name="resume" class="form-control" maxlength="255" id="resume" placeholder="Résumé (max : 255 carac)"></textarea> 
                </div>
                <div class="form-group">
                    <label for="slug" class="control-label">Slug</label>
                    <textarea name="slug" class="form-control" maxlength="255" id="slug" placeholder="slug"></textarea> 
                </div>
                <div class="form-group">
                    <label for="contenue" class="control-label"></label>
                    <textarea name="contenu" class="contenu" id="contenu" placeholder=""></textarea> 
                </div>
                <input class="button_chapitre" type="submit" name="Ajouter_chapitre" value="Publié" class="btn btn-primary">
            </form>
        </section>
    </section>
</div>