	
		<span class="image main"><img src="{{ path }}/images/pic04.jpg" alt="" /></span>

	<section class="contenu_article">
		<form  method="POST">
			<p> 
 				<a class="button_edit" href="{{ path }}/admin/editChapitre/{{ slug }}"> <input type="button" name="button_edit" value="Editer"> </a>
				<input type="submit" name="Supprimer_chapitre" value="Supprimer">
		        <input type="hidden" name="idChapitre" value="{{ id }}">
			</p>
		</form>

		<p><a href="{{ path }}/admin/">Retour à la liste des chapitres</a></p> 
		<p> Par {{ auteur }}, {{ parution }}  le {{ dateAjout }}</p>
		
		<div class="text_chapitre">
			<p>{{ contenu }}</p>
		</div>
	</section>